<ion-view view-title="Login" ng-controller="login">
	<ion-content scroll="false">
		<!-- <div class="background"></div> -->
		<!-- <img src="img/background.png" class="background-img"> -->
    	<img src="img/logomarca.png" class="logomarca" alt="">
		
		<form ng-submit="login()" class="form-login">
            <div class="list">
                <label class="item item-input">
                    <i class="icon ion-email placeholder-icon"></i>
                    <input type="email" placeholder="Email" ng-model="user.email">
                </label>
                <label class="item item-input">
				    <i class="icon ion-asterisk placeholder-icon"></i>
				    <input type="password" placeholder="Password" ng-model="user.password">
  				</label>
            </div>
            <div>
                <button type="submit" class="button button-block button-outline button-positive">
                    <i class="icon"></i>
                    Log in
                </button>
            </div>
        </form>
		<!-- <h1>Bem-Vindo!</h1> -->
	</ion-content>
</ion-view>