<ion-side-menus enable-menu-with-back-views="true">
    <ion-side-menu-content>
        <ion-nav-bar class="bar-dark">
            <ion-nav-back-button>
                Voltar
            </ion-nav-back-button>

            <ion-nav-buttons side="left">
                <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
                </button>
            </ion-nav-buttons>
        </ion-nav-bar>
        <ion-nav-view name="menuContent"></ion-nav-view>
    </ion-side-menu-content>

    <ion-side-menu side="left">
        <ion-header-bar class="bar-dark">
            <h1 class="title menu-left">Menu</h1>
        </ion-header-bar>
        <ion-content class="menu-left">
        	<ion-list>
				<ion-item menu-close href="#/app/inicial">
					Inicial
				</ion-item>
				<ion-item menu-close href="#/app/usuarios">
					Usuários
				</ion-item>
				<ion-item menu-close href="#/app/inicial">
					Meu Perfil
				</ion-item>
				<ion-item menu-close href="#/login/acesso">
					Sair
				</ion-item>
			</ion-list>
        </ion-content>
    </ion-side-menu>
</ion-side-menus>
