<ion-view view-title="Cadastro de Usuário" ng-controller="usuarios_add">
	<ion-content>

		<!-- http://ionicframework.com/docs/v1/components/#forms-stacked-labels -->
		<form ng-submit="salvar_usuario()">
			<div class="list">
				<label class="item item-input item-floating-label">
					<span class="input-label">Nome</span>
					<input type="text" placeholder="Nome" ng-model="usuario.NOME">
				</label>
				<label class="item item-input item-floating-label">
					<span class="input-label">E-mail</span>
					<input type="email" placeholder="E-mail" ng-model="usuario.EMAIL">
				</label>
				<label class="item item-input item-floating-label">
					<span class="input-label">Senha</span>
					<input type="password" placeholder="Senha" ng-model="usuario.SENHA">
				</label>
			</div>

			<div class="padding">
				<button class="button button-block button-positive">Create Account</button>
			</div>
		</form>

	</ion-content>
</ion-view>
