<ion-view view-title="Usuários" ng-controller="usuarios">
	<ion-content>
		<!-- <h1>Usuários</h1> -->
		<!-- http://ionicframework.com/docs/v1/components/#item-input-inset -->
		<div class="list list-usuarios">
			<div class="item item-input-inset">
				<label class="item-input-wrapper">
					<input type="text" placeholder="Pesquisar" ng-model="filtro">
				</label>
			    <button class="button button-small button-positive" ng-click="fnc_usuarios_add()">
					<i class="icon ion-plus"></i>
			    </button>
			</div>
		</div>

		<!-- http://ionicframework.com/docs/v1/components/#item-avatars -->
		<div class="list">
			<a class="item item-avatar" href="#/app/usuarios_edt/{{usuario.ID}}" ng-repeat="(key, usuario) in usuarios | filter:filtro">
				<img ng-src="{{usuario.AVATAR}}">
				<h2>{{usuario.NOME}}</h2>
				<p>{{usuario.EMAIL}}</p>
			</a>
		</div>
	</ion-content>
</ion-view>
