/* Empty. Add your own CSS if you like */

.clear {
	clear: both;
}


.background {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.3);
    /*background-image: url('/img/background.png');*/
    width: 100%;
    height: 100%;
    z-index: -1;
    top: 0;
	z-index: 2;
}
.background-img {
	width: 100%;
	height: 100%;
	z-index: 1;
}
.logomarca {
	/*position: absolute;*/
    /*top: 100px;*/
    margin-top: 100px;
    width: 80%;
    margin-left: 10%;
}

.form-login {
	width: 90%;
	margin: 5%;
}

/******************
   USUÁRIOS
******************/
.list-usuarios {
	margin-bottom: 0px;
}